### NAME : Gokul Nair
### UID : 2018120039
### Batch : C
#### EXP : Lab 6-A

In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt

In [3]:
#Install feature selector library using pip
#!pip install feature-selector

Collecting feature-selector
  Downloading https://files.pythonhosted.org/packages/7c/d2/5448f8af6d3507f3c455429744c6436fdf3b91d10c75f4857d8e8bb4da1c/feature_selector-1.0.0-py3-none-any.whl
Collecting matplotlib==2.1.2
  Downloading https://files.pythonhosted.org/packages/35/96/6e71a040339d4efc54cf707061e70fd624c9120b48b992f919ba34df9cb1/matplotlib-2.1.2-cp36-cp36m-manylinux1_x86_64.whl (15.0MB)
     |████████████████████████████████| 15.0MB 298kB/s
Collecting pandas==0.23.1
  Downloading https://files.pythonhosted.org/packages/57/eb/6ab533ea8e35e7dd159af6922ac1123d4565d89f3926ad9a6aa46530978f/pandas-0.23.1-cp36-cp36m-manylinux1_x86_64.whl (11.8MB)
     |████████████████████████████████| 11.8MB 37.4MB/s
Collecting seaborn==0.8.1
  Downloading https://files.pythonhosted.org/packages/10/01/dd1c7838cde3b69b247aaeb61016e238cafd8188a276e366d36aa6bcdab4/seaborn-0.8.1.tar.gz (178kB)
     |████████████████████████████████| 184kB 40.3MB/s
Collecting lightgbm==2.1.1
  Downloading https://files.pythonhosted.org/packages/bf/01/45e209af10fd16537df0c5d8a5474c286554c3eaf9ddb0ce04113f1e8506/lightgbm-2.1.1-py2.py3-none-manylinux1_x86_64.whl (711kB)
     |████████████████████████████████| 716kB 38.7MB/s
Collecting numpy==1.14.5
  Downloading https://files.pythonhosted.org/packages/68/1e/116ad560de97694e2d0c1843a7a0075cc9f49e922454d32f49a80eb6f1f2/numpy-1.14.5-cp36-cp36m-manylinux1_x86_64.whl (12.2MB)
     |████████████████████████████████| 12.2MB 185kB/s
Collecting scikit-learn==0.19.1
  Downloading https://files.pythonhosted.org/packages/3d/2d/9fbc7baa5f44bc9e88ffb7ed32721b879bfa416573e85031e16f52569bc9/scikit_learn-0.19.1-cp36-cp36m-manylinux1_x86_64.whl (12.4MB)
     |████████████████████████████████| 12.4MB 47.5MB/s
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2->feature-selector) (2.8.1)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2->feature-selector) (2018.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2->feature-selector) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2->feature-selector) (2.4.7)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib==2.1.2->feature-selector) (1.15.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from lightgbm==2.1.1->feature-selector) (1.4.1)
Building wheels for collected packages: seaborn
  Building wheel for seaborn (setup.py) ... done
  Created wheel for seaborn: filename=seaborn-0.8.1-cp36-none-any.whl size=184834 sha256=5c0084d69c8428a15eac396eb23b82c06f04b5243450ab4edd0b9314cd0e53bc
  Stored in directory: /root/.cache/pip/wheels/26/0a/44/53ddd89769e62f7c6691976375b86c6492e7dd20a2d3970e32
Successfully built seaborn
ERROR: yellowbrick 0.9.1 has requirement scikit-learn>=0.20, but you'll have scikit-learn 0.19.1 which is incompatible.
ERROR: xarray 0.15.1 has requirement numpy>=1.15, but you'll have numpy 1.14.5 which is incompatible.
ERROR: xarray 0.15.1 has requirement pandas>=0.25, but you'll have pandas 0.23.1 which is incompatible.
ERROR: umap-learn 0.4.6 has requirement numpy>=1.17, but you'll have numpy 1.14.5 which is incompatible.
ERROR: umap-learn 0.4.6 has requirement scikit-learn>=0.20, but you'll have scikit-learn 0.19.1 which is incompatible.
ERROR: tifffile 2020.9.3 has requirement numpy>=1.15.1, but you'll have numpy 1.14.5 which is incompatible.
ERROR: tensorflow 2.3.0 has requirement numpy<1.19.0,>=1.16.0, but you'll have numpy 1.14.5 which is incompatible.
ERROR: spacy 2.2.4 has requirement numpy>=1.15.0, but you'll have numpy 1.14.5 which is incompatible.
ERROR: plotnine 0.6.0 has requirement matplotlib>=3.1.1, but you'll have matplotlib 2.1.2 which is incompatible.
ERROR: plotnine 0.6.0 has requirement numpy>=1.16.0, but you'll have numpy 1.14.5 which is incompatible.
ERROR: plotnine 0.6.0 has requirement pandas>=0.25.0, but you'll have pandas 0.23.1 which is incompatible.
ERROR: numba 0.48.0 has requirement numpy>=1.15, but you'll have numpy 1.14.5 which is incompatible.
ERROR: mizani 0.6.0 has requirement matplotlib>=3.1.1, but you'll have matplotlib 2.1.2 which is incompatible.
ERROR: mizani 0.6.0 has requirement pandas>=0.25.0, but you'll have pandas 0.23.1 which is incompatible.
ERROR: imgaug 0.2.9 has requirement numpy>=1.15.0, but you'll have numpy 1.14.5 which is incompatible.
ERROR: imbalanced-learn 0.4.3 has requirement scikit-learn>=0.20, but you'll have scikit-learn 0.19.1 which is incompatible.
ERROR: google-colab 1.0.0 has requirement pandas~=1.0.0; python_version >= "3.0", but you'll have pandas 0.23.1 which is incompatible.
ERROR: fbprophet 0.7.1 has requirement numpy>=1.15.4, but you'll have numpy 1.14.5 which is incompatible.
ERROR: fbprophet 0.7.1 has requirement pandas>=1.0.4, but you'll have pandas 0.23.1 which is incompatible.
ERROR: fastai 1.0.61 has requirement numpy>=1.15, but you'll have numpy 1.14.5 which is incompatible.
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
ERROR: cvxpy 1.0.31 has requirement numpy>=1.15, but you'll have numpy 1.14.5 which is incompatible.
ERROR: blis 0.4.1 has requirement numpy>=1.15.0, but you'll have numpy 1.14.5 which is incompatible.
ERROR: astropy 4.0.1.post1 has requirement numpy>=1.16, but you'll have numpy 1.14.5 which is incompatible.
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: numpy, matplotlib, pandas, seaborn, scikit-learn, lightgbm, feature-selector
  Found existing installation: numpy 1.18.5
    Uninstalling numpy-1.18.5:
      Successfully uninstalled numpy-1.18.5
  Found existing installation: matplotlib 3.2.2
    Uninstalling matplotlib-3.2.2:
      Successfully uninstalled matplotlib-3.2.2
  Found existing installation: pandas 1.0.5
    Uninstalling pandas-1.0.5:
      Successfully uninstalled pandas-1.0.5
  Found existing installation: seaborn 0.10.1
    Uninstalling seaborn-0.10.1:
      Successfully uninstalled seaborn-0.10.1
  Found existing installation: scikit-learn 0.22.2.post1
    Uninstalling scikit-learn-0.22.2.post1:
      Successfully uninstalled scikit-learn-0.22.2.post1
  Found existing installation: lightgbm 2.2.3
    Uninstalling lightgbm-2.2.3:
      Successfully uninstalled lightgbm-2.2.3
Successfully installed feature-selector-1.0.0 lightgbm-2.1.1 matplotlib-2.1.2 numpy-1.14.5 pandas-0.23.1 scikit-learn-0.19.1 seaborn-0.8.1

In [3]:
# import dataset
df = pd.read_csv("Cardiotocographic - Cardiotocographic.csv")
df.head()

    LB        AC   FM        UC ...   Median  Variance  Tendency  NSP
0  120  0.000000  0.0  0.000000 ...      121        73         1    2
1  132  0.006380  0.0  0.006380 ...      140        12         0    1
2  133  0.003322  0.0  0.008306 ...      138        13         0    1
3  134  0.002561  0.0  0.007682 ...      137        13         1    1
4  132  0.006515  0.0  0.008143 ...      138        11         1    1

[5 rows x 22 columns]

In [4]:
df['NSP'].unique()

array([2, 1, 3])

In [25]:
df.columns
Columns = ['LB', 'AC', 'FM', 'UC', 'DL', 'DS', 'DP', 'ASTV', 'MSTV', 'ALTV',
       'MLTV', 'Width', 'Min', 'Max', 'Nmax', 'Nzeros', 'Mode', 'Mean',
       'Median', 'Variance', 'Tendency']

In [7]:
#NSP TO BE CONVERTED INTO FACTORS
df['NSP']= df['NSP'].astype('category')

In [12]:
df.describe

<bound method NDFrame.describe of        LB        AC        FM        UC ...   Median  Variance  Tendency  NSP
0     120  0.000000  0.000000  0.000000 ...      121        73         1    2
1     132  0.006380  0.000000  0.006380 ...      140        12         0    1
2     133  0.003322  0.000000  0.008306 ...      138        13         0    1
3     134  0.002561  0.000000  0.007682 ...      137        13         1    1
4     132  0.006515  0.000000  0.008143 ...      138        11         1    1
5     134  0.001049  0.000000  0.010493 ...      107       170         0    3
6     134  0.001403  0.000000  0.012623 ...      106       215         0    3
7     122  0.000000  0.000000  0.000000 ...      123         3         1    3
8     122  0.000000  0.000000  0.001517 ...      123         3         1    3
9     122  0.000000  0.000000  0.002967 ...      123         1         1    3
10    151  0.000000  0.000000  0.000834 ...      151         9         1    2
11    150  0.000000  0.000000  0.000983 ...      151        10         1    2
12    131  0.005076  0.072335  0.007614 ...      137         7         1    1
13    131  0.009077  0.222390  0.006051 ...      141        10         1    1
14    130  0.005838  0.407840  0.004170 ...      135        76         0    1
15    130  0.005571  0.380223  0.004178 ...      133        43         0    1
16    130  0.006088  0.441400  0.004566 ...      138        70         1    1
17    131  0.001524  0.382622  0.003049 ...      132        45         0    2
18    130  0.002845  0.450925  0.005690 ...      129        36         1    1
19    130  0.005055  0.469250  0.005055 ...      133        27         0    1
20    129  0.000000  0.340045  0.004474 ...      120       138         0    3
21    128  0.004687  0.425000  0.003125 ...      132        34         0    1
22    128  0.000000  0.333841  0.003049 ...      102       148        -1    3
23    128  0.000000  0.000000  0.000000 ...      125         1         1    3
24    128  0.000000  0.000000  0.003311 ...      129         0         1    3
25    124  0.000000  0.000000  0.000000 ...      125         0         0    3
26    124  0.000000  0.000000  0.000000 ...      127         0        -1    3
27    124  0.000000  0.000000  0.000000 ...      125         0         0    3
28    132  0.000000  0.135113  0.000834 ...      129        73         0    2
29    132  0.000000  0.098784  0.000000 ...      117        89         0    1
...   ...       ...       ...       ... ...      ...       ...       ...  ...
2096  133  0.000000  0.000000  0.006711 ...      139         1         0    1
2097  133  0.000000  0.000000  0.005312 ...      138         0        -1    1
2098  133  0.000000  0.004202  0.005602 ...      137         1         0    1
2099  133  0.000000  0.008653  0.004944 ...      136         1         1    1
2100  133  0.000000  0.009840  0.004920 ...      135         1         1    1
2101  133  0.000000  0.009357  0.008187 ...      134         2         1    1
2102  133  0.000000  0.006031  0.007238 ...      134         2         1    1
2103  133  0.000000  0.001261  0.007566 ...      135         3         0    1
2104  136  0.000000  0.000000  0.009371 ...      139         0         0    1
2105  136  0.000000  0.000000  0.009324 ...      139         0         0    1
2106  136  0.000000  0.001096  0.007675 ...      139         1         1    1
2107  136  0.000000  0.001294  0.006468 ...      138         1         1    1
2108  136  0.000000  0.002567  0.007702 ...      136         2         1    1
2109  136  0.000000  0.001280  0.007682 ...      136         2         1    1
2110  136  0.000000  0.004110  0.008219 ...      131        45         1    1
2111  136  0.000000  0.004348  0.008696 ...      123        71         1    1
2112  136  0.000000  0.004823  0.006431 ...      128        53         1    1
2113  136  0.000000  0.002070  0.008282 ...      138         4         0    1
2114  137  0.000000  0.000000  0.007009 ...      145         1         1    1
2115  140  0.000000  0.000000  0.006424 ...      146         0         0    1
2116  140  0.003968  0.000000  0.003968 ...      149         1         0    1
2117  140  0.000000  0.000000  0.007812 ...      145         1         1    1
2118  140  0.000000  0.000000  0.006470 ...      145         2         1    1
2119  140  0.000000  0.000000  0.006764 ...      145         1         1    1
2120  140  0.000000  0.000000  0.004975 ...      145         2         0    1
2121  140  0.000000  0.000000  0.007426 ...      152         2         0    2
2122  140  0.000775  0.000000  0.006971 ...      151         3         1    2
2123  140  0.000980  0.000000  0.006863 ...      152         4         1    2
2124  140  0.000679  0.000000  0.006110 ...      151         4         1    2
2125  142  0.001616  0.001616  0.008078 ...      145         1         0    1

[2126 rows x 22 columns]>

In [9]:
df.count

<bound method DataFrame.count of        LB        AC        FM        UC ...   Median  Variance  Tendency  NSP
0     120  0.000000  0.000000  0.000000 ...      121        73         1    2
1     132  0.006380  0.000000  0.006380 ...      140        12         0    1
2     133  0.003322  0.000000  0.008306 ...      138        13         0    1
3     134  0.002561  0.000000  0.007682 ...      137        13         1    1
4     132  0.006515  0.000000  0.008143 ...      138        11         1    1
5     134  0.001049  0.000000  0.010493 ...      107       170         0    3
6     134  0.001403  0.000000  0.012623 ...      106       215         0    3
7     122  0.000000  0.000000  0.000000 ...      123         3         1    3
8     122  0.000000  0.000000  0.001517 ...      123         3         1    3
9     122  0.000000  0.000000  0.002967 ...      123         1         1    3
10    151  0.000000  0.000000  0.000834 ...      151         9         1    2
11    150  0.000000  0.000000  0.000983 ...      151        10         1    2
12    131  0.005076  0.072335  0.007614 ...      137         7         1    1
13    131  0.009077  0.222390  0.006051 ...      141        10         1    1
14    130  0.005838  0.407840  0.004170 ...      135        76         0    1
15    130  0.005571  0.380223  0.004178 ...      133        43         0    1
16    130  0.006088  0.441400  0.004566 ...      138        70         1    1
17    131  0.001524  0.382622  0.003049 ...      132        45         0    2
18    130  0.002845  0.450925  0.005690 ...      129        36         1    1
19    130  0.005055  0.469250  0.005055 ...      133        27         0    1
20    129  0.000000  0.340045  0.004474 ...      120       138         0    3
21    128  0.004687  0.425000  0.003125 ...      132        34         0    1
22    128  0.000000  0.333841  0.003049 ...      102       148        -1    3
23    128  0.000000  0.000000  0.000000 ...      125         1         1    3
24    128  0.000000  0.000000  0.003311 ...      129         0         1    3
25    124  0.000000  0.000000  0.000000 ...      125         0         0    3
26    124  0.000000  0.000000  0.000000 ...      127         0        -1    3
27    124  0.000000  0.000000  0.000000 ...      125         0         0    3
28    132  0.000000  0.135113  0.000834 ...      129        73         0    2
29    132  0.000000  0.098784  0.000000 ...      117        89         0    1
...   ...       ...       ...       ... ...      ...       ...       ...  ...
2096  133  0.000000  0.000000  0.006711 ...      139         1         0    1
2097  133  0.000000  0.000000  0.005312 ...      138         0        -1    1
2098  133  0.000000  0.004202  0.005602 ...      137         1         0    1
2099  133  0.000000  0.008653  0.004944 ...      136         1         1    1
2100  133  0.000000  0.009840  0.004920 ...      135         1         1    1
2101  133  0.000000  0.009357  0.008187 ...      134         2         1    1
2102  133  0.000000  0.006031  0.007238 ...      134         2         1    1
2103  133  0.000000  0.001261  0.007566 ...      135         3         0    1
2104  136  0.000000  0.000000  0.009371 ...      139         0         0    1
2105  136  0.000000  0.000000  0.009324 ...      139         0         0    1
2106  136  0.000000  0.001096  0.007675 ...      139         1         1    1
2107  136  0.000000  0.001294  0.006468 ...      138         1         1    1
2108  136  0.000000  0.002567  0.007702 ...      136         2         1    1
2109  136  0.000000  0.001280  0.007682 ...      136         2         1    1
2110  136  0.000000  0.004110  0.008219 ...      131        45         1    1
2111  136  0.000000  0.004348  0.008696 ...      123        71         1    1
2112  136  0.000000  0.004823  0.006431 ...      128        53         1    1
2113  136  0.000000  0.002070  0.008282 ...      138         4         0    1
2114  137  0.000000  0.000000  0.007009 ...      145         1         1    1
2115  140  0.000000  0.000000  0.006424 ...      146         0         0    1
2116  140  0.003968  0.000000  0.003968 ...      149         1         0    1
2117  140  0.000000  0.000000  0.007812 ...      145         1         1    1
2118  140  0.000000  0.000000  0.006470 ...      145         2         1    1
2119  140  0.000000  0.000000  0.006764 ...      145         1         1    1
2120  140  0.000000  0.000000  0.004975 ...      145         2         0    1
2121  140  0.000000  0.000000  0.007426 ...      152         2         0    2
2122  140  0.000775  0.000000  0.006971 ...      151         3         1    2
2123  140  0.000980  0.000000  0.006863 ...      152         4         1    2
2124  140  0.000679  0.000000  0.006110 ...      151         4         1    2
2125  142  0.001616  0.001616  0.008078 ...      145         1         0    1

[2126 rows x 22 columns]>

In [18]:
df[['LB','NSP']].describe

<bound method NDFrame.describe of        LB NSP
0     120   2
1     132   1
2     133   1
3     134   1
4     132   1
5     134   3
6     134   3
7     122   3
8     122   3
9     122   3
10    151   2
11    150   2
12    131   1
13    131   1
14    130   1
15    130   1
16    130   1
17    131   2
18    130   1
19    130   1
20    129   3
21    128   1
22    128   3
23    128   3
24    128   3
25    124   3
26    124   3
27    124   3
28    132   2
29    132   1
...   ...  ..
2096  133   1
2097  133   1
2098  133   1
2099  133   1
2100  133   1
2101  133   1
2102  133   1
2103  133   1
2104  136   1
2105  136   1
2106  136   1
2107  136   1
2108  136   1
2109  136   1
2110  136   1
2111  136   1
2112  136   1
2113  136   1
2114  137   1
2115  140   1
2116  140   1
2117  140   1
2118  140   1
2119  140   1
2120  140   1
2121  140   2
2122  140   2
2123  140   2
2124  140   2
2125  142   1

[2126 rows x 2 columns]>

In [29]:
X=df[Columns]
X.head()

    LB        AC   FM        UC    ...     Mean  Median  Variance  Tendency
0  120  0.000000  0.0  0.000000    ...      137     121        73         1
1  132  0.006380  0.0  0.006380    ...      136     140        12         0
2  133  0.003322  0.0  0.008306    ...      135     138        13         0
3  134  0.002561  0.0  0.007682    ...      134     137        13         1
4  132  0.006515  0.0  0.008143    ...      136     138        11         1

[5 rows x 21 columns]

In [43]:
y=df['NSP']
y.columns = ['NSP']
y=pd.DataFrame(y)
y.head()

  NSP
0   2
1   1
2   1
3   1
4   1

In [64]:
#Feature Engineering using feature selection
from feature_selector import FeatureSelector
#features are in train and in train labels
fs = FeatureSelector(data=X,labels=y)

In [65]:
fs.identify_all(selection_params = {'missing_threshold': 0.6,    
                                    'correlation_threshold': 0.98, 
                                    'task': 'classification',    
                                    'eval_metric': 'auc', 
                                    'cumulative_importance': 0.99})

0 features with greater than 0.60 missing values.

0 features with a single unique value.

0 features with a correlation magnitude greater than 0.98.

Training Gradient Boosting Model

Training until validation scores don't improve for 100 rounds.
Early stopping, best iteration is:
[1]	valid_0's auc: 0.0297917
Training until validation scores don't improve for 100 rounds.
Early stopping, best iteration is:
[1]	valid_0's auc: 0.0253791
Training until validation scores don't improve for 100 rounds.
Early stopping, best iteration is:
[1]	valid_0's auc: 0.0295594
Training until validation scores don't improve for 100 rounds.
Early stopping, best iteration is:
[69]	valid_0's auc: 0.0379414
Training until validation scores don't improve for 100 rounds.
Early stopping, best iteration is:
[1]	valid_0's auc: 0.0413874
Training until validation scores don't improve for 100 rounds.
Early stopping, best iteration is:
[2]	valid_0's auc: 0.0575875
Training until validation scores don't improve for 100 rounds.
Early stopping, best iteration is:
[1]	valid_0's auc: 0.0566552
Training until validation scores don't improve for 100 rounds.
Early stopping, best iteration is:
[1]	valid_0's auc: 0.0322419
Training until validation scores don't improve for 100 rounds.
Early stopping, best iteration is:
[11]	valid_0's auc: 0.0733057
Training until validation scores don't improve for 100 rounds.
Early stopping, best iteration is:
[4]	valid_0's auc: 0.0568822

1 features with zero importance after one-hot encoding.

17 features required for cumulative importance of 0.99 after one hot encoding.
4 features do not contribute to cumulative importance of 0.99.

4 total features out of 21 identified for removal after one-hot encoding.

In [66]:
train_removed_all = fs.remove(methods = 'all', keep_one_hot=False)

['missing', 'single_unique', 'collinear', 'zero_importance', 'low_importance'] methods have been run

Removed 4 features including one-hot features.

In [67]:
train_removed_all.head()
train_removed_all.shape

(2126, 17)

In [68]:
X_new=train_removed_all
X_new.shape

(2126, 17)

In [69]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X_new,y,test_size=0.2)

In [71]:
#classifier
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
import time
st=time.time()
#train the model
clf.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [72]:
ypred = clf.predict(X_test)

In [73]:
clf.score(X_test,y_test)

0.8755868544600939

In [81]:
ypred.columns=['NSP']
ypred = pd.DataFrame(ypred)
ypred.head()

   NSP
0    1
1    1
2    1
3    1
4    3

In [82]:
#model accuracy
acc_clf = 100 * clf.score(X_test,y_test)
print("Model Score : {:.3f} %".format(acc_clf))

Model Score : 87.559 %

In [83]:
#confusion matrix
from sklearn.metrics import confusion_matrix, classification_report
confusion_matrix(ypred,y_test)

array([[335,  34,   5],
       [  4,  21,   4],
       [  6,   0,  17]])

In [84]:
print(classification_report(ypred,y_test))

             precision    recall  f1-score   support

          1       0.97      0.90      0.93       374
          2       0.38      0.72      0.50        29
          3       0.65      0.74      0.69        23

avg / total       0.91      0.88      0.89       426